<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<h2>Olá turma</h2>
  <pre>
    Meu nome é <b>João Carlos</b>,
    estou no 6º período,
    tenho 21 anos,
    
    <img src="./twitch_PNG48.png" width="100" height="100"/>
    <a href="https://www.twitch.tv/kaazami">Twitch</a>, <a href="https://www.twitter.com/021_jcarlos">Twitter</a>, <a href="https://www.instagram.com/crf_joaoc">Instagram</a>
  </pre>-->
  <ion-card>
    
    <ion-card-header>
      <img src="../../assets/twitch_PNG48.png"/>
      <ion-card-subtitle>Primeira aula</ion-card-subtitle>
      <ion-card-title>Desenv. Móvel</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
